body {
	background-color : white;
}

header {
	overflow: hidden;
	background-color: orange;
	padding: 20px 10px;
	margin: 0px;
}

footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: orange;
  color : white;
  text-align : center;
  position : fixed;

}

header img {
	border-radius: 8px;
	width: 150px;
}

header img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

header h1 {
	float: right;
	padding-right : 50px;
	padding-top : 15px
}

section a img {
	padding-top : 15px;
	padding-left : 10%;
}

nav {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	margin : 10px;
	padding : 50px;
	text-align : center;
	background-color : #ff953e;
}



section {
    border: 1px solid #061c30;
    margin-top: 50px;
    margin-left: 70px;
    width: 80%;
    border-radius: 5px;
	border-color : orange;
    padding: 0px 25px 25px 25px;

}


hr {
    width : 95%;
}